{% extends 'base.html' %}
{% block content %}

<h2>Python Club Resources</h2>
<p>This should show the resources!</p>

<table class = 'table'>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>URL</th>
        <th>Description</th>
        <th>User</th>
        <th>Date Added</th>
    </tr>
    {% for item in resource_list %}
    <tr>
        <td>
            {{ item.resourcename }}
        </td>
        <td>
            {{ item.resourcetype }}
        </td>
        <td>
            {{ item.resourceurl }}
        </td>
        <td>
            {{ item.resourcedescription }}
        </td>
        <td>
            {{ item.user }}
        </td>
        <td>
            {{ item.resourcedateentered }}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}